html,
body {
  /*font: 11pt arial;*/

  box-sizing: border-box;/*box model*/
  scroll-snap-type: y proximity;
}

*, *:before, *:after {
    box-sizing: inherit;
  }



body{

font-family: 'Noto Sans',sans-serif;
text-align: center;
background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #9cecfb, #65c7f7, #0052d4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*to right */

}


.contenedores{
  background-color: white;
  margin: 10px 10px ;
  border-radius: 5px;
  padding: 3px;
  
}

@media (min-width: 768px) {
  .Automatas{
  
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  
  }
}

@media (min-width: 768px) {
  .resultados{
  
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  
  }
}

p{
  display:inline; 
  font-size: 140%;
  }

footer{
  font-size: 50%;
}

h1{
  font-family: 'Alata', sans-serif;

  
}







