html,
body {
  /*font: 11pt arial;*/

  box-sizing: border-box;/*box model*/
  scroll-snap-type: y proximity;
}

*, *:before, *:after {
    box-sizing: inherit;
  }



body{

font-family: 'Noto Sans',sans-serif;

}

.Automatas{
  display: grid;
  grid-template-columns: auto auto;
  background-color: gray;
}